@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "SFProText";
    src: url("./assets/fonts/SFProText-Regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "SFProText";
    src: url("./assets/fonts/SFProText-Bold.ttf") format("ttf");
    font-weight: bold;
}

@font-face {
    font-family: "SFProText";
    src: url("./assets/fonts/SFProText-Light.ttf") format("ttf");
    font-weight: light;
}

@layer base {
    html {
        font-family: "SFProText", system-ui, sans-serif;
    }
}
